@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  @apply m-0 p-0 box-border;
}

body {
  @apply font-sans;
}
.active {
  background-color: rgba(134, 6, 6, 0.8);
  border-radius: 8px;
  color: white;
}

/* Add this to your global stylesheet or in a CSS module */
.swiper-button-prev,
.swiper-button-next {
  color: #f87171; /* Red color */
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #dc2626; /* Darker red on hover */
}
