@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  @apply m-0 p-0 box-border;
}

body {
  @apply font-sans;
}
.active {
  background-color: rgba(134, 6, 6, 0.8);
  border-radius: 8px;
  color: white;
}

.swiper-pagination-bullet {
  background-color: red !important;
}

.swiper-pagination-bullet-active {
  background-color: darkred !important;
}
.swiper-pagination-bullet {
  background-color: red !important;
}

.swiper-pagination-bullet-active {
  background-color: darkred !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: red !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: darkred !important;
}
